{% extends "craft-single-sign-on/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'attribute' %}

{% set content %}

    <h2>Attribute Mapping</h2>

    <form method="post" action="" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>

        {{ getCsrfInput() }}

        {{ actionInput('craft-single-sign-on/settings/save') }}
        {{ redirectInput('craft-single-sign-on/attribute-settings') }}
        <input type="hidden" name="pluginClass" value="attribute-settings">

        {{ forms.textField({
            label: 'Email Attribute',
            instructions: '',
            id: 'email_attribute',
            name: 'email_attribute',
            value: attribute['email_attribute']})
        }}
        {{ forms.textField({
            label: 'Username Attribute',
            instructions: '',
            id: 'username_attribute',
            name: 'username_attribute',
            value: attribute['username_attribute']})
        }}
        {{ forms.textField({
            label: 'Firstname Attribute',
            instructions: '',
            id: 'firstname_attribute',
            name: 'firstname_attribute',
            value: attribute['firstname_attribute']})
        }}
        {{ forms.textField({
            label: 'Lastname Attribute',
            instructions: '',
            id: 'lastname_attribute',
            name: 'lastname_attribute',
            value: attribute['lastname_attribute']})
        }}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endset %}