{% extends "craft-single-sign-on/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'edit' %}

{% set content %}

    <h2>Settings</h2>

    <form method="post" action="" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>

        {{ getCsrfInput() }}

        {{ actionInput('craft-single-sign-on/settings/save') }}
        <input type="hidden" name="pluginClass" value="settings">

        {{ forms.textField({
            label: 'App Provider',
            instructions: '',
            id: 'app_provider',
            name: 'app_provider',
            value: edit['app_provider']})
        }}
        {{ forms.textField({
            label: 'Client ID',
            instructions: '',
            id: 'client_id',
            name: 'client_id',
            value: edit['client_id']})
        }}
        {{ forms.textField({
            label: 'Client Secret',
            instructions: '',
            id: 'client_secret',
            name: 'client_secret',
            value: edit['client_secret']})
        }}
        {{ forms.textField({
            label: 'Scope',
            instructions: '',
            id: 'scope',
            name: 'scope',
            value: edit['scope']})
        }}
        {{ forms.textField({
            label: 'Authorization URL',
            instructions: '',
            id: 'authorization_url',
            name: 'authorization_url',
            value: edit['authorization_url']})
        }}
        {{ forms.textField({
            label: 'Oauth token API',
            instructions: '',
            id: 'oauth_token_api',
            name: 'oauth_token_api',
            value: edit['oauth_token_api']})
        }}
        {{ forms.textField({
            label: 'User info API',
            instructions: '',
            id: 'user_info_api',
            name: 'user_info_api',
            value: edit['user_info_api']})
        }}
        {{ forms.textField({
            label: 'Callback URL',
            instructions: '',
            id: 'callback_url',
            name: 'callback_url',
            value: siteUrl(edit['callback_url'])})
        }}
        {{ forms.textField({
            label: '',
            instructions: '',
            type: 'hidden',
            id: 'noreg',
            name: 'noreg',
            value: '10'})
        }}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
            <a onclick="window.open('https://dark.io/craft2/web/mologin/login?test_config=1', '', 'width=1000,height=500')" id="test-configuration" class="btn submit">{{ 'Test Configuration'|t }}</a>
        </div>

    </form>

{% endset %}