{% extends "craft-single-sign-on/_layouts/samlcp" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'saml_attribute' %}
{% set selectedSubnavItem = 'saml_provider' %}

{% set content %}

    <h2>Attribute Mapping</h2>

    <form method="post" action="" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>

        {{ csrfInput() }}

        {{ actionInput('craft-single-sign-on/settings/save') }}
        {{ redirectInput('craft-single-sign-on/saml-attribute') }}
        <input type="hidden" name="pluginClass" value="saml-attribute">

        {{ forms.textField({
            label: 'Email Attribute',
            instructions: '',
            id: 'email_attribute',
            name: 'email_attribute',
            value: samlattribute['email_attribute']})
        }}
        {{ forms.textField({
            label: 'Username Attribute',
            instructions: '',
            id: 'username_attribute',
            name: 'username_attribute',
            value: samlattribute['username_attribute']})
        }}
        {{ forms.textField({
            label: 'Firstname Attribute',
            instructions: '',
            id: 'firstname_attribute',
            name: 'firstname_attribute',
            value: samlattribute['firstname_attribute']})
        }}
        {{ forms.textField({
            label: 'Lastname Attribute',
            instructions: '',
            id: 'lastname_attribute',
            name: 'lastname_attribute',
            value: samlattribute['lastname_attribute']})
        }}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endset %}